*{margin: 0px; padding: 0px;}

body{background: gray;}
#header{width: 100%;height: 70px; background-color: #333; box-shadow: 0px 2px 4px gray;}
#navBar{width: 1000px;height: 70px; float: right;}
#navBar>li{width: 198px;list-style: none;float: left;border-right: 1px solid gray;border-left: 1px solid gray;}
li>a{display: block;color: white;line-height: 80px; text-align: center;font-family: fantasy;font-size: 20px; text-decoration: none;}
li>a:hover{background: dimgray;color: #333;}
