*{margin: 0;padding: 0;}
body{
    background-color: gray;
    background-size: 100% 700px;
}
#simple-form{
    text-align: center;
    margin: 100px 400 px;
}
#registration{
    width: 100%;
    float: right;
    text-align: center;
  
}
#button{
    width: 250px;
    padding: 10px;
    border-radius: 5px;
}
#ph{
    width: 75px;
    border-radius: 5px;
    padding: 10px;
}
#phn{
    width:250px;
    padding: 10px;
    border-radius: 5px;
}
#submit{
    
    text-align: center;
    margin-left: 0;
     width:250px;
    padding: 10px;
    border-radius: 5px;
    
}